:root {
  --primary-color: #007ced;
  --secondary-color: #666;
  --font-color: #000;
  --bg-color: #fff;
}

[data-theme="dark"] {
  --primary-color: #007ced;
  --secondary-color: #666;
  --font-color: #fff;
  --bg-color: #010101;
}

html,
body {
  padding: 0;
  margin: 0;

  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  transition: background 0.3s linear;
}
